 <div class="header"></div>

    <div class="Characters">
        <a href="#" onclick="Game.gameStart(`Aspiring_Hero`)">
            <img src="/public/images/heroes/Aspiring_Hero_idle.png" alt="aspiringHero" style="transform: scale(2)">
            <div>
                <h3>Aspiring Hero</h3>
                <p>Picking up your father's rusted sword, you set out to become a great hero!</p>
            </div>
        </a>
        <a href="#" onclick="Game.gameStart('Warrior')">
            <img src="/public/images/heroes/Warrior_idle.png" alt="Warrior" style="transform: scale(2)">
            <div>
                <h3>Warrior</h3>
                <p>With sword and shield in hand, you are a frontline warrior wading through the thick of battle.</p>
            </div>
        </a>
        <a href="#" onclick="Game.gameStart('Archer')">
            <img src="/public/images/heroes/Archer_idle.png" alt="Archer" style="transform: scale(2)">
            <div>
                <h3>Archer</h3>
                <p>Bow in hand, you send down death from afar.</p>
            </div>
        </a>
    </div>

    <div class="actions"></div>
    <div class="arena"></div>
    <div class="enemy"></div>