* {
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: bisque;
}

nav {
    background-color: rgb(95, 148, 202);
    width: 100%;
    height: 75px;
}

a {
    list-style: none;
    text-decoration: none;
    color: brown
}

.nav-link {
    list-style: none;
    text-decoration: none;
    color: brown
}


i {
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 50px;
    background: url("http://images.pushsquare.com/screenshots/68694/large.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    padding: 200px;
}    

.row h2 {
    margin: 10px;
    padding: 10px;
}
input {
    padding: 5px;
    margin: 10px;
    width: 400px;
    height: 30px;
}

#email-login {
    margin-left: 35px;
}

#name-signup {
    margin-left: 47px;
}

#email-signup {
    margin-left: 35px;
}

.row button {
    margin-top: 20px;
}

.col ul a {
    display: block;
}

@media screen and (max-width: 2000px) {
    .row {
        display: flex;
        background: url("http://images.pushsquare.com/screenshots/68694/large.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 1000px;
        padding: 300px;   
    }
}

@media screen and (max-width: 1350px) {
    .row {
        display: flex;
        background: url("http://images.pushsquare.com/screenshots/68694/large.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 450px;
        padding: 50px;   
    }
    #email-login {
        margin-left: 1px;
    }
    
    #name-signup {
        margin-left: 10px;
    }
    
    #email-signup {
        margin-left: 1px;
    }
    
    .row button {
        margin-top: 5px;
    }
    
    #password-signup {
        margin-left: 1px;
        padding: 5px;
        margin: 10px;
        width: 350px;
        height: 30px;
    }

    #password-login {
        padding: 5px;
        margin: 10px;
        width: 350px;
        height: 30px;
    }

    input {
        padding: 5px;
        margin: 10px;
        width: 400px;
        height: 30px;
    }
}

@media screen and (max-width: 820px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: url("http://images.pushsquare.com/screenshots/68694/large.jpg");
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 700px;
        padding: 10px;   
    }
    #email-login {
        margin-left: 1px;
    }
    
    #name-signup {
        margin-left: 1px;
    }
    
    #email-signup {
        margin-left: 1px;
    }
    
    .row button {
        margin-top: 1px;
    }
    
    #password-signup {
        margin-left: 1px;
    } 

    #password-login {
        margin-left: 1px;
        
    }

    input {
        padding: 5px;
        margin: 10px;
        width: 350px;
        height: 30px;
    }
    
}
@media screen and (max-width: 580px) {
    .row {
        display: flex;
        background: url("http://images.pushsquare.com/screenshots/68694/large.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 800px;
        padding: 200px;   
    }
    #email-login {
        margin-left: 1px;
    }
    
    #name-signup {
        margin-left: 10px;
    }
    
    #email-signup {
        margin-left: 1px;
    }
    
    .row button {
        margin-top: 5px;
    }
    
    #password-signup {
        margin-left: 1px;
        padding: 5px;
        margin: 10px;
        width: 350px;
        height: 30px;
    }

    #password-login {
        padding: 5px;
        margin: 10px;
        width: 350px;
        height: 30px;
    }

    input {
        padding: 5px;
        margin: 10px;
        width: 400px;
        height: 30px;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar {
        height: 150px;
    }
}