* {
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h2 a {
    margin-left: 10px;
}

i {
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 50px;
}    

.row h2 {
    margin: 10px;
    padding: 10px;
}
input {
    padding: 5px;
    margin: 10px;
    width: 400px;
    height: 30px;
}

#email-login {
    margin-left: 35px;
}

#name-signup {
    margin-left: 47px;
}

#email-signup {
    margin-left: 35px;
}

.row button {
    margin-top: 20px;
}