* {
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
    background-color: rgb(95, 148, 202);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

nav {
    background-color: rgb(95, 148, 202);
    width: 100%;
    height: 75px;
}

a {
    list-style: none;
    text-decoration: none;
    color: brown
}

.nav-link {
    list-style: none;
    text-decoration: none;
    color: brown
}


i {
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 50px;
}    

.row h2 {
    margin: 10px;
    padding: 10px;
}
input {
    padding: 5px;
    margin: 10px;
    width: 400px;
    height: 30px;
}

#email-login {
    margin-left: 35px;
}

#name-signup {
    margin-left: 47px;
}

#email-signup {
    margin-left: 35px;
}

.row button {
    margin-top: 20px;
}